<div ui-view>
    <div class="page-header">
        <div class="row">
            <div class="col-md-8">
                <h3>Homework</h3>
            </div>
            <div class="col-md-4 text-right">
                <a class="btn btn-info btn-dot" data-toggle="modal" data-target="#addHomeworkModal">Add homework</a>
            </div>
        </div>
    </div>

    <div class="panel panel-default" ng-repeat='homework in homeworkCtrl.homeworks'>
        <div class="panel-heading">
            <h5><img class="img-circle"
                     ng-src="{{homeworkCtrl.img_url}}/user/profile-img/{{homework.user_id}}?token={{homeworkCtrl.token}}"
                     width="30"> {{homework.name}}
                <button type="button" class="btn btn-link pull-right"
                        ng-click="homeworkCtrl.removehomework(homework.id)"><span
                        class="text-danger glyphicon glyphicon-remove-circle"></span></button>
            </h5>
        </div>
        <div class="panel-body">
            <p>{{homework.description}}</p>
            <br>
            <div class="row text-center">
                <div class="col-md-3">
                    <div class="panel panel-info">
                        <div class="panel-heading"><span class="glyphicon glyphicon-gift"></span><br>Points:
                            {{homework.points}}
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-info">
                        <div class="panel-heading"><span
                                class="glyphicon glyphicon-alert"></span><br>Required: {{homework.required}}
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-info">
                        <div class="panel-heading"><span
                                class="glyphicon glyphicon-pencil"></span><br>Answer: {{homework.answer_type}}
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-danger">
                        <div class="panel-heading"><span
                                class="glyphicon glyphicon-calendar"></span><br>Deadline: {{homework.deadline}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <ul class="list-group">
            <li class="list-group-item" ng-repeat="answers in homework.homework_answer">
                <div ng-if="homework.answer_type=='text' || homework.answer_type=='link'">
                    <p ng-bind-html="answers.answer"></p>
                </div>
                <div ng-if="homework.answer_type=='upload'">
                    <a ng-href="{{homeworkCtrl.img_url}}/homework-answer/{{answers.id}}?token={{homeworkCtrl.token}}">
                        <strong>{{answers.file_name}}.{{answers.file_extension}}</strong>
                    </a>
                </div>
                <br>
                <span class="text-muted">
                <img class="img-circle"
                     ng-src="{{homeworkCtrl.img_url}}/user/profile-img/{{answers.user_id}}?token={{homeworkCtrl.token}}"
                     width="30"> <small>{{answers.user.name}}</small></span>
                <div class="pull-right">
                    <small class="text-muted">{{answers.created_at}}</small>
                </div>
            </li>
        </ul>
    </div>

    <div id="addHomeworkModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="text-center">Add Homework</h2>
                </div>
                <form class="form-horizontal" ng-submit="homeworkCtrl.addhomework()">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-4">
                                <input id="name" type="text" class="form-control" placeholder="Name"
                                       ng-model="homeworkCtrl.homework.name">
                            </div>
                            <label for="description" class="col-sm-2 control-label">Description</label>
                            <div class="col-sm-4">
                                <input id="description" class="form-control" type="text" placeholder="Description"
                                       ng-model="homeworkCtrl.homework.description">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="points" class="col-sm-2 control-label">Points</label>
                            <div class="col-sm-4">
                                <input id="points" class="form-control" type="text"
                                       ng-model="homeworkCtrl.homework.points">
                            </div>
                            <!--nu sterge asta daca vrei cu input nu cu select-->
                            <!--<br>-->
                            <!--type: <input type="text" ng-model="homeworkCtrl.homework.type">-->
                            <label for="type" class="col-sm-2 control-label">Type</label>
                            <div class="col-sm-4">
                                <select id="type" class="form-control" class="form-control"
                                        ng-model="homeworkCtrl.homework.type">
                                    <option value="type1">
                                        Type1
                                    </option>
                                    <option value="type2">
                                        Type2
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">Answer</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <div class="input-group-addon">Required</div>
                                        <span class="input-group-addon">
                                            <label>Yes
                                                <input type="radio"
                                                       ng-model="homeworkCtrl.homework.required" value="1"
                                                       name="required">
                                            </label>
                                            <label>No
                                                <input type="radio"
                                                       ng-model="homeworkCtrl.homework.required" value="0"
                                                       name="required">
                                            </label>
                                        </span>
                                    <select id="select" class="form-control"
                                            ng-model="homeworkCtrl.homework.answer_type">
                                        <option value="upload">
                                            Upload
                                        </option>
                                        <option value="physical_format">
                                            Physical format
                                        </option>
                                        <option value="text">
                                            Text
                                        </option>
                                        <option value="link">
                                            Link
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <hr>

                        <div class="form-group">
                            <label for="start" class="col-sm-3 control-label">Start date</label>
                            <div class="col-sm-9">
                                <input id="start" class="form-control" type="date"
                                       ng-model="homeworkCtrl.homework.start_date">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="end" class="col-sm-3 control-label">End date</label>
                            <div class="col-sm-9">
                                <input id="end" class="form-control" type="date"
                                       ng-model="homeworkCtrl.homework.end_date">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="deadline" class="col-sm-3 control-label">Deadline</label>
                            <div class="col-sm-9">
                                <input id="deadline" class="form-control" type="date"
                                       ng-model="homeworkCtrl.homework.deadline">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" >
                        <button type="submit" ng-click="homeworkCtrl.addhomework()" class="btn btn-primary" data-dismiss="modal">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
