<div ui-view>
    <div class="page-header">
        <div class="row">
            <div class="col-md-8">
                <h3>Discussions</h3>
            </div>
            <div class="col-md-4 text-right">
                <a class="btn btn-info btn-dot" data-toggle="modal" data-target="#addDiscussionModal">Add
                    discussion</a>
            </div>
        </div>
    </div>

    <div class="panel panel-default" ng-repeat='discussion in discussionCtrl.discussions'>
        <div class="panel-heading">
            <h4>{{discussion.subject}}
                <small class="text-danger">{{discussion.category}}</small>
                <button type="button" class="btn btn-link"
                        ng-show="discussion.user_id == discussionCtrl.my_user_id"
                        ng-click="discussionCtrl.removeDiscussion(discussion.id)"><span
                        class="text-danger glyphicon glyphicon-remove-circle"></span></button>
                <img class="img-circle pull-right"
                     ng-src="{{discussionCtrl.img_url}}/user/profile-img/{{discussion.user_id}}?token={{discussionCtrl.token}}"
                     width="30">
            </h4>
        </div>
        <div class="panel-body">
            <div class="media">
                <div class="media-left media-top">
                    <img class="img-circle"
                         ng-src="{{discussionCtrl.img_url}}/user/profile-img/{{discussion.user_id}}?token={{discussionCtrl.token}}"
                         width="30">
                </div>
                <div class="media-body">
                    <strong>{{discussion.user.name}}</strong>
                    <small class="text-muted">&bull; {{discussion.created_at | timeAgo}}</small>
                    <button type="button" class="pull-right btn btn-link"
                            ng-show="discussion.user_id == discussionCtrl.my_user_id"
                            ng-click="discussionCtrl.removeDiscussion(discussion.id)"><span
                            class="text-danger glyphicon glyphicon-remove-circle"></span></button>
                    <p>{{discussion.description}}</p>
                </div>
            </div>
        </div>
        <ol class="list-group">
            <li ng-repeat="comment in discussion.comment" class="list-group-item">
                <div class="media">
                    <div class="media-left media-top">
                        <img class="img-circle media-object"
                             ng-src="{{discussionCtrl.img_url}}/user/profile-img/{{comment.user_id}}?token={{discussionCtrl.token}}"
                             width="30">
                    </div>
                    <div class="media-body">
                        <strong>{{comment.user.name}}</strong>
                        <small class="text-muted">&bull; {{comment.updated_at | timeAgo}}</small>
                        <button type="button" class="pull-right btn btn-link"
                                ng-show="comment.user_id == discussionCtrl.my_user_id"
                                ng-click="discussionCtrl.removeComment(comment.id,discussion.id)"><span
                                class="text-danger glyphicon glyphicon-remove-circle"></span></button>
                        <p>{{comment.text}}</p>
                    </div>
                </div>
            </li>
        </ol>
        <div class="panel-footer">

            <form class="form-horizontal" name="comment-form"
                  ng-submit="discussionCtrl.addComment(comment,discussion.id)">
                <div class="input-group">
                    <input type="text" ng-model="comment" class="form-control" name="comment"
                           placeholder="Write your comment...">
                    <span class="input-group-btn"><button type="submit" class="btn btn-primary">Add comment
                    </button></span>
                </div>
            </form>
        </div>
    </div>


    <div id="addDiscussionModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="text-center">Add discussion</h2>
                </div>
                <form class="form-horizontal" ng-submit="discussionCtrl.addDiscussion()">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="subject" class="col-sm-2 control-label">Subject</label>
                            <div class="col-sm-10">
                                <input id="subject" class="form-control" type="text"
                                       ng-model="discussionCtrl.subject">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description" class="col-sm-2 control-label">Description</label>
                            <div class="col-sm-10">
                                <input id="description" class="form-control" type="text"
                                       ng-model="discussionCtrl.description">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="category" class="col-sm-2 control-label">Category</label>
                            <div class="col-sm-10">
                                <input id="category" class="form-control" type="text"
                                       ng-model="discussionCtrl.category"
                                       readonly>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="submit"
                                data-dismiss="modal" ng-click="discussionCtrl.addDiscussion()">Add Discussion
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>