<div class="page-wrapper container">
    <h2 class="dot-header-bg text-center">Conversation</h2>
    <ul class="row dot-list">
        <li class="col-xs-6 col-md-2" ng-repeat="user_conversation in messageCtrl.users_conversation">
            <div class="panel panel-default">
                <div class="panel-body text-center">
                    <img class="img-circle center-block"
                         ng-src="{{messageCtrl.img_url}}/user/profile-img/{{user_conversation.id}}?token={{messageCtrl.token}}"
                         width="30" height="30">
                    <span class="text-center">{{user_conversation.name}}</span>
                </div>
            </div>
        </li>
    </ul>
    <hr>
    <button type="submit" class="btn btn-default center-block" ng-click="messageCtrl.load_more()"
            ng-hide="messageCtrl.show_load_more == false">Load more messages
    </button>

    <div class="spinner" ng-show="messageCtrl.messages.length==0">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
    </div>

    <ul class="dot-list">
        <li ng-repeat="message in messageCtrl.messages">
            <div class="msg_container base_sent msg_right" ng-if="messageCtrl.my_user_id == message.data.user_id">
                <img class="img-circle"
                     ng-src="{{messageCtrl.img_url}}/user/profile-img/{{message.data.user_id}}?token={{messageCtrl.token}}"
                     width="30" height="30">
                <div class="messages msg_sent">
                    <p>{{message.data.message}}</p>
                    <time class="dot-fade" datetime="message.data.created_at">{{message.user_name}} &bull;
                        <span>{{ message.data.created_at | timeAgo }}</span>
                    </time>
                </div>
            </div>
            <div class="msg_container base_sent" ng-if="messageCtrl.my_user_id != message.data.user_id">
                <img class="img-circle"
                     ng-src="{{messageCtrl.img_url}}/user/profile-img/{{message.data.user_id}}?token={{messageCtrl.token}}"
                     width="30" height="30">
                <div class="messages msg_sent">
                    <p>{{message.data.message}}</p>
                    <time class="dot-fade" datetime="message.data.created_at">{{message.user_name}} &bull;
                        <span>{{ message.data.created_at | timeAgo }}</span>
                    </time>
                </div>
            </div>
        </li>
        <div class="clearfix"></div>
        <div class="row dot-fade">
            <div class="col-md-1">Seen by:</div>
            <div class="col-md-11">
                <p>
                    <span ng-repeat="user_seen in messageCtrl.user_seen">{{user_seen.name}}</span>
                </p>
            </div>
        </div>
        <hr>
        <form class="form-inline text-center" ng-submit="messageCtrl.send()">
            <div class="input-group">
                <input type="text" class="form-control" ng-model="messageCtrl.message" placeholder="Write your message">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary" value="Send"><span
                            class="glyphicon glyphicon-send"></span></button>
                </span>
            </div>
        </form>
    </ul>
</div>
