<!--{{forumEditCtrl.forum}}-->
<div class="page-wrapper container">
    <h2 class="dot-header-bg text-center">Change forum</h2>

    <form class="form-horizontal" ng-submit="forumEditCtrl.submit()">
        <div class="form-group">
            <label for="name" class="col-sm-1 control-label">Name: </label>
            <div class="col-sm-10">
                <input type="text" id="name" class="form-control" ng-model="forumEditCtrl.forum.name"/>
            </div>
            <div class="col-sm-1">
                <button class="btn btn-primary" type="submit">Update</button>
            </div>
        </div>
    </div>
</form>
</div>
