<div ui-view>
    <div class="page-wrapper container">
        <h2 class="dot-header-bg text-center">Forum list</h2>

        <form class="form-horizontal" ng-submit="forumCtrl.add()">
            <div class="form-group">
                <label for="forum" class="col-sm-2 control-label">Forum name </label>
                <div class="col-sm-9">
                    <input id="forum" type="text" class="form-control" ng-model="forumCtrl.forum.name"
                           placeholder="Forum name"/>
                </div>
                <div class="col-sm-1">
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </div>
        </form>
        <hr>

        <table class="table table-striped dot-table">
            <thead>
            <tr>
                <th>FORUM</th>
                <th>LATEST POST</th>
                <th>FRESHNESS</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat='forum in forumCtrl.forums'>
                <td><a ui-sref="layout.shared.forum.post({forum_id: forum.data.id})"><strong>{{forum.data.name}}</strong></a></td>
                <td><p>{{forum.last_post.message.substr(0, 327)}}</p><span><small class="text-muted">by {{forum.last_post.user.name}}</small></span></td>
                <td>{{forum.last_post.updated_at | timeAgo}}</td>
            </tr>
            </tbody>
        </table>
        <button type="submit" class="btn btn-default center-block" ng-click="forumCtrl.load_more()"
                ng-hide="forumCtrl.config.next_page_url==null">Load more
        </button>
    </div>
</div>
