<div class="panel">
    <div class="panel-body" ng-bind-html="courseCtrl.course.description"></div>
</div>
<div class="page-header">
    <h3>Modules</h3>
</div>
<div class="spinner" ng-show="!(moduleCtrl.modules).length">
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
</div>
<ol class="list-group">
    <li class="list-group-item dot-list-group-item" ng-repeat="module in moduleCtrl.modules">
        <span ng-click="moduleCtrl.go_to_module(module)">{{module.name}}</span>
        <small class="pull-right text-muted">
            {{module.started_at | date:'shortTime'}}
        </small>
    </li>
</ol>
