<div class="page-wrapper container">
    <h2 class="dot-header-bg text-center">{{postCtrl.forum.name}}</h2>

    <ol class="list-group dot-list">
        <li ng-repeat='post in postCtrl.posts'>
            <div class="panel panel-default">
                <div class="panel-body">
                    <!--{{post}}-->
                    <p ng-if="post.user_id!=postCtrl.my_user_id">{{post.message}}</p>
                    <form class="form-horizontal" ng-if="post.user_id==postCtrl.my_user_id"
                          ng-submit="postCtrl.update(post.id,post.message)">
                        <div class="form-group">
                            <div class="col-sm-9">
                                <input class="form-control" ng-model="post.message">
                            </div>
                            <div class="col-sm-3">
                                <div class="btn-group" role="group" aria-label="...">
                                    <button class="btn btn-primary btn-sm" type="submit">Update</button>
                                    <button type="submit" class="btn btn-link" ng-click="postCtrl.remove(post.id)"
                                            ng-show="post.user_id==postCtrl.my_user_id"><span class="text-danger glyphicon glyphicon-remove-circle"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel-footer">
                    <span><img class="img-circle"
                         ng-src="{{postCtrl.img_url}}/user/profile-img/{{post.user.id}}?token={{postCtrl.token}}"
                         width="30"> <small class="text-muted">{{post.user.name}}</small></span>
                    <div class="pull-right">
                        <span class="text-muted">{{post.created_at | timeAgo}}</span>
                    </div>
                </div>
            </div>
        </li>
    </ol>
    <hr>
    <form ng-submit="postCtrl.add()">
        <div class="input-group">
                <input type="text" id="post" class="form-control" placeholder="write yout post" ng-model="postCtrl.post.message"/>
            <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">Add</button>
            </span>
        </div>
    </form>
</div>
