<!--<li><a ui-sref="layout.teacher.dashboard"><span class="icon glyphicon glyphicon-home"></span>Dasboard</a></li>-->
<!--<li><a ui-sref="layout.teacher.course"><span class="icon glyphicon glyphicon-blackboard"></span>Cursuri</a></li>-->