<form id="myLogin" ng-submit="forgotCtrl.submit()">
    <div class="login-card">
        <label class="login-label">Email:
            <input class="login-input" type="text" ng-model="forgotCtrl.email">
        </label>
        <button class="login-input login-submit" type="submit">Reset</button>
    </div>
</form>
