<div class="page-header">
    <div class="row">
        <div class="col-md-8">
            <h3>Materials</h3>
        </div>
        <div class="col-md-4 text-right">
            <a class="btn btn-info btn-dot" data-toggle="modal" data-target="#addMaterialModal">Add material</a>
        </div>
    </div>
</div>


<ol class="list-group dot-list row">
    <li class="col-xs-6 col-md-4" ng-repeat='material in materialCtrl.materials'>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a ng-href="{{materialCtrl.img_url}}/material/{{material.id}}?token={{materialCtrl.token}}">{{material.file_name}}.{{material.file_extension}}</a>
                <div class="pull-right">
                    <span class="glyphicon glyphicon-download text-info"></span>
                </div>
            </div>
            <div class="panel-body">
                <p>{{material.description}}</p>
                {{post.user.name}}
            </div>
            <div class="panel-footer">
                <img class="img-circle"
                     ng-src="{{materialCtrl.img_url}}/user/profile-img/{{material.user_id}}?token={{materialCtrl.token}}"
                     width="30">
                <div class="pull-right">
                    <span class="text-muted">{{material.download_nr}} downloads</span>
                    <button class="btn btn-link" title="delete" type="button" ng-click="materialCtrl.remove(material.id)"><span
                            class="text-danger glyphicon glyphicon-remove-circle"></span>
                    </button>
                </div>
            </div>
        </div>
    </li>
</ol>


<div id="addMaterialModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="text-center">Add material</h2>
            </div>
            <form class="form-horizontal" ng-submit="materialCtrl.submit()" mimeType="multipart/form-data">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="description" class="col-sm-2 control-label">Description</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="description" name="description" value="123"
                                   ng-model="materialCtrl.material.description">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="material" class="col-sm-2 control-label">Material</label>
                        <div class="col-sm-10">
                            <input type="file" id="material" class="form-control" name="upload"
                                   file-model="materialCtrl.material.upload">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" ng-click="materialCtrl.submit()" type="submit" data-dismiss="modal">Upload</button>
                </div>
            </form>
        </div>
    </div>
</div>
