<span>/</span>
<a ui-sref="layout.teacher.course.home.test">Tests</a>
<h2 class="dot-header-bg text-center">Create your test</h2>

<div ui-view>
    <form class="form-horizontal" ng-submit="questionCtrl.addquestion()">

        <div class="form-group">
            <div class="col-sm-6">

                <div class="form-group">
                    <label for="question" class="col-sm-2 control-label">Question</label>
                    <div class="col-sm-2">
                        <input id="question" class="form-control" type="text" ng-model="questionCtrl.question.question">
                    </div>
                    <label for="description" class="col-sm-2 control-label">Description</label>
                    <div class="col-sm-6">
                        <input id="description" class="form-control" type="text" ng-model="questionCtrl.question.description">
                    </div>
                </div>

                <h4>Choose elements for answer:</h4>
                <div ng-click="questionCtrl.clear()"><span>Clear</span></div>
                <div ng-click="questionCtrl.radio_element()"><span>Radio element</span></div>
                <div ng-click="questionCtrl.checkbox_element()"><span>Checkbox element</span></div>

                <div ng-click="questionCtrl.text_element()"><span>Input text element</span></div>
                <div class="col-sm-10">
                    <input class="form-control" type="text" ng-model="text2">
                </div>
                <div class="col-sm-2">
                    <button type="button" class="btn btn-primary" ng-click="questionCtrl.add_text(text2)">Add text</button>
                </div>

            </div>

            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4 class="text-center">Preview posible answer:</h4>
                            <div class="inner">
                            </div>
                            <button class="btn btn-primary pull-right" type="submit">Save question</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <hr>

    <div class="panel panel-default">
        <div class="panel-body">
            <ul class="dot-list">
                <li ng-repeat='question in questionCtrl.questions'>
                    <!--{{question}}-->
                    <p>{{question.question}}. {{question.description}}</p>
                    <div ng-if="question.answer.type == 'radio'">
                        <ul class="dot-list">
                            <li ng-repeat="answer in question.answer.data">
                                <!--{{answer}}-->
                                <input id="{{answer.id}}" type="{{answer.type}}" name="radio_{{question.id}}"/>{{answer.data}}<br>
                            </li>
                        </ul>
                    </div>

                    <div ng-if="question.answer.type == 'checkbox'">
                        <ul class="dot-list">
                            <li ng-repeat="answer in question.answer.data">
                                <!--{{answer}}-->
                                <input id="{{answer.id}}" type="{{answer.type}}" name="check_{{question.id}}"/>{{answer.data}}<br>
                            </li>
                        </ul>
                    </div>

                    <div ng-if="question.answer.type == 'text'">
                        <div>
                            <span ng-repeat="answer in question.answer.data">
                                <!--{{answer}}-->
                                <span ng-if="answer.type == 'input-text'">
                                    <input id="{{answer.id}}" type="{{question.answer.type}}" name="text_{{question.id}}"/>
                                </span>
                                {{answer.data}}
                            </span>
                        </div>
                    </div>

                    <button type="button" class="btn btn-xs btn-danger pull-right" ng-click="questionCtrl.remove(question.id)">Delete</button>
                    <hr>
                </li>
            </ul>
        </div>
    </div>
</div>
