<div class="page-header">
    <h3>Materials</h3>
</div>

<div class=row ng-repeat='material in materialStudentCtrl.materials track by $index' ng-if="$index % 3 == 0">
    <div class="col-xs-6 col-md-4" ng-repeat="i in [$index, $index + 1, $index + 2]" ng-if="materialStudentCtrl.materials[i] != null">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a ng-href="{{materialStudentCtrl.img_url}}/material/{{materialStudentCtrl.materials[i].id}}?token={{materialStudentCtrl.token}}">{{materialStudentCtrl.materials[i].file_name}}.{{materialStudentCtrl.materials[i].file_extension}}</a>
                <div class="pull-right">
                    <span class="glyphicon glyphicon-download text-info"></span>
                </div>
            </div>
            <div class="panel-body">
                <p>{{materialStudentCtrl.materials[i].description}}</p>
            </div>
            <div class="panel-footer">
                <img class="img-circle"
                     ng-src="{{materialStudentCtrl.img_url}}/user/profile-img/{{materialStudentCtrl.materials[i].user_id}}?token={{materialStudentCtrl.token}}"
                     width="30">
                <div class="pull-right">
                    <span class="text-muted">{{materialStudentCtrl.materials[i].download_nr}} downloads</span>
                </div>
            </div>
        </div>
    </div>
</div>