<div class="page-wrapper container">
    <div ui-view>
        <div class="dot-header text-center">
            <h2 class="dot-header-bg">{{courseCtrl.course.name}}</h2>
            <div class="text-right dot-header-bottom">
                <button class="btn btn-danger btn-sm" ng-click="courseCtrl.unsubscribe()">Unsubscribe</button>
            </div>
        </div>
        <ul class="nav nav-tabs">
            <li><a ui-sref="layout.student.course.module">Modules</a></li>
            <li><a ui-sref="layout.student.course.announcement">Announcements</a></li>
            <li ng-if="courseCtrl.hide != true"><a ng-click="courseCtrl.show()">Video conference</a></li>
        </ul>
        <div ng-if="courseCtrl.hide == true">
            <button class="btn btn-primary" type="button" ng-click="courseCtrl.stop()">Hide video conference</button>
            <iframe src="https://apprtc.appspot.com/r/922447899" width="1000" height="500"></iframe>
        </div>
        <div ui-view="course_role_module">replace</div>
    </div>
</div>
