<div class="panel">
    <div class="panel-body" ng-bind-html="editCtrl.description"></div>
</div>
<div class="page-header">
    <div class="row">
        <div class="col-md-8">
            <h3>Modules</h3>
        </div>
        <div class="col-md-4 text-right">
            <a class="btn btn-info btn-dot" data-toggle="modal" data-target="#addModuleModal">Add module</a>
        </div>
    </div>
</div>
<div class="spinner" ng-show="!(moduleCtrl.modules).length">
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
</div>
<ol class="list-group">
    <li class="list-group-item dot-list-group-item" ng-repeat="module in moduleCtrl.modules">
        <span ng-click="moduleCtrl.addContent(module)">{{module.name}}</span>
        <small class="pull-right text-muted">{{module.started_at | date : format : timezone}}
            <button type="submit" title="delete" class="btn btn-link" ng-click="moduleCtrl.remove(module.id)"><span
                    class="text-danger glyphicon glyphicon-remove-circle"></span></button>
        </small>
    </li>
</ol>


<div id="addModuleModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="text-center">Add new module</h2>
            </div>
            <form class="form-horizontal" ng-submit="moduleCtrl.submitModule()">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label login-label">Name</label>
                        <div class="col-sm-10">
                            <input id="name" class="form-control login-input" type="text" placeholder="Module name"
                                   ng-model="moduleCtrl.moduleName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="date" class="col-sm-2 control-label login-label">Start at</label>
                        <div class="col-sm-10">
                            <input type="date" id="date" class="form-control" ng-model="moduleCtrl.moduleStartDate">
                        </div>
                    </div>
                    <!-- bootstrap datetime picker-->
                    <!--http://eternicode.github.io/bootstrap-datepicker/?markup=input&format=&weekStart=&startDate=&endDate=&startView=0&minViewMode=0&maxViewMode=2&todayBtn=false&clearBtn=false&language=en&orientation=auto&multidate=aaaa&multidateSeparator=&keyboardNavigation=on&forceParse=on#sandbox-->
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="submit" ng-click="moduleCtrl.submitModule()"
                            data-dismiss="modal">Add module
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
