<md-autocomplete
        md-search-text="autoCtrl.searchText"
        md-items="item in autoCtrl.querySearch(autoCtrl.searchText)"
        md-item-text="item.display.name"
        md-min-length="0"
        md-selected-item="autoCtrl.parent.item_select"
        ng-model="autoCtrl.parent.item"
        placeholder="Select a user..">
    <md-item-template>
        <img ng-src="{{autoCtrl.img_url}}/user/profile-img/{{item.display.id}}?token={{autoCtrl.token}})" width="50" height="50" class="img-circle navbar-profile-img">
        <span>{{item.display.name}}</span>
        <span md-highlight-text="autoCtrl.searchText" md-highlight-flags="^i">
        </span>
    </md-item-template>
    <md-not-found>
        No User matching "{{autoCtrl.searchText}}" were found.
    </md-not-found>
</md-autocomplete>