<div ui-view>
  <div class="page-wrapper container">
    <h2 class="dot-header-bg text-center">Users list</h2>

    <div class="row">
        <div class="col-xs-6 col-md-2" ng-repeat="user in userCtrl.users">
          <div class="panel panel-default" >
            <div class="panel-body">
              <img class="img-circle center-block" ng-src="{{userCtrl.img_url}}/user/profile-img/{{user.data.id}}?token={{userCtrl.token}})" width="50" height="50">
              <h4 class="text-center"><a ui-sref="layout.admin.user.edit({user_id: user.id})" ui-sref-opts="{reload: true}">{{user.data.name}}</a></h4>
          </div>
        </div>
      </div>
    </div>

    <a ui-sref="layout.admin.user.add" class="btn btn-primary btn-group" ui-sref-opts="{reload: true}">Adauga</a>
  </div>
</div>
