<div class="page-wrapper container">
    <div class="dot-header">
        <div class="dot-header-top">
            <a ui-sref="layout.teacher.course.edit({course_id:{{moduleHomeCtrl.course_id}}})">{{moduleHomeCtrl.course_name}}</a>
            / <a ui-sref="layout.teacher.course.home.page">{{moduleHomeCtrl.module.name}}</a>
        </div>
        <h2 class="dot-header-bg text-center">{{moduleHomeCtrl.module.name}}</h2>
        <div class="dot-header-bottom text-right">
            <a class="btn btn-info btn-sm" data-toggle="modal" data-target="#updateModuleModal">Update module</a>
        </div>
    </div>
    <ul class="nav nav-tabs">
        <li><a ui-sref="layout.teacher.course.home.page">Home</a></li>
        <li><a ui-sref="layout.teacher.course.home.material">Material</a></li>
        <li><a ui-sref="layout.teacher.course.home.discussion">Discussion</a></li>
        <li><a ui-sref="layout.teacher.course.home.homework">Homework</a></li>
        <li><a ui-sref="layout.teacher.course.home.test">Test</a></li>
    </ul>

    <div id="updateModuleModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="text-center">Update module</h2>
                </div>
                <form class="form-horizontal" ng-submit="moduleHomeCtrl.submit()">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-10">
                                <input id="name" class="form-control" type="text"
                                       ng-model="moduleHomeCtrl.name_edit"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="start_at" class="col-sm-2 control-label">Start at</label>
                            <div class="col-sm-10">
                                <input id="start_at" class="form-control" type="date"
                                       ng-model="moduleHomeCtrl.started_at_edit">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="submit" data-dismiss="modal"
                                ng-click="moduleHomeCtrl.submit()">Update
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <span class="ui-view"></span>
</div>
