.messages {
  background: #3498db;
  padding: 10px;
  border-radius: 2px;
  color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.dot-fade {
  font-size: 11px;
  color: #ccc;
}

.msg_container {
  padding: 10px;
  max-width: 400px;
  clear: both;
}

.msg_container .img-circle{
  margin: 0 20px -5px;
}

.dot-list {
  list-style-type: none;
}

.msg_right {
  float: right;
  text-align: right;
}

.msg_right .messages{
  background: #2ecc71;
  text-align: left;
}
