.right-buttons{
	float: right;
	display: inline-block;
	width: 30%;
}

.right-buttons > button{
	margin: 5px;
	float: right;
	width: 200px;
}

.course-nav{
	width: 70%;
}

.course-list{
	width: 70%;
}