html {
  height: 100%;
}

body {
  height: 100%;
  background: #E9EDF5 url('img/rough_diagonal.png');
}

table.table {
  &, th, td {
    border: none;
  }
}

.app-logo {
  max-height: 35px;
  margin: -7px auto 0;
}

a:hover{
  cursor: pointer;
}