.btn-dot {
  margin: 10px;
  padding: 9px;
}

.dot-list-group-item {
  padding-top: 1em;
  padding-bottom: 1em;
  border-left: none;
  border-right: none;
}

.dot-table tr th{
  background: $brand-primary;
  color: #fff;
}

.dot-table tbody tr td{
  padding: 2em .6em;
}