.login-body{
  background: linear-gradient(#2B3D41, #455F62) no-repeat;
  height: 100%;
}

.login-card {
  max-width: 260px;
  margin: 10px auto;
  overflow: hidden;
}

.login-card a {
  text-decoration: none;
  color: #C8D0DF;
  text-align: center;
  display: inline-block;
  opacity: .6;
  transition: opacity ease .5s;
}

.login-card a:hover {
  opacity: 1;
}

.login-card h1 {
  font-weight: 100;
  text-align: center;
  padding: 20px;
  font-size: 1.6em;
  color: #fff;
}

.login-card form{
  border: 1px solid #666;
  border-radius: 6px;
  padding: 30px;
}

.login-card .login-input {
  font-size: 1em;
  width: 100%;
  height: 44px;
  margin: 0 0 10px;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 25px;
  padding: 0 8px;
  box-sizing: border-box;
  outline: 0;
}

.login-card .login-input:hover {
  border: 1px solid #b9b9b9;
  box-shadow: inset 0 6px 8px rgba(0, 0, 0, 0.1);

}

.login-card .login-submit {
  border: 0;
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, .1);
  width: 100%;
  display: block;
  margin: 0 0 10px;
  border-radius: 25px;
  background: linear-gradient(to right, #1CD8D2, #93EDC7);
  transition: .4s all;
}

.login-submit:hover {
  transform: scale(1.1);
}

.login-help {
  width: 100%;
  text-align: center;
  font-size: .8em;
  margin: 5px 0 0;
}

.login-card .login-label {
  color: #93EDC7;
  display: block;
  width: 100%;
}
