.main {
  //margin: 0 15em 0 15em;
  margin: 0 0 0 15em;
}

.page-wrapper {
  background: #fff;
  width: 96%;
  max-width: 1200px;
  padding: 30px;
  margin: 2% auto;
  border-radius: 5px;
}

.nav-tabs-dot > li > a {
  border-radius: 0;
}

.dot-header {
  //background: linear-gradient(to left, #e53935 , #e35d5b);
  //background: linear-gradient(to left, #f46b45 , #eea849);
  //background: linear-gradient(to left, #EB3349 , #F45C43);
  //background: linear-gradient(to left, #606c88 , #3f4c6b);
  //background: linear-gradient(to left, #457fca, #514A9D);
  //background: linear-gradient(to left, #457fca , #5691c8);
  background: url('img/background/1 (34).jpg');
  border-radius: 5px 5px 0 0;
  text-shadow: 1px 1px rgba(0, 0, 0, .4);
  padding: 6em 2em;
  margin: -30px -30px 1.8em -30px;
  color: #fff;
}

.dot-header a {
  color: #fff;
}

.dot-header-bg {
  margin: .2em 0 1.8em;
}

.dot-header-bg:after {
  content: '';
  display: block;
  width: 25%;
  height: 4px;
  margin: 10px auto;
  background: linear-gradient(to left, #457fca, #514A9D, #457fca);
  border-radius: 3px;
}

.dot-header-subtitle {
  margin: -1.8em 0 1.8em;
}

.dot-header-bottom {
  margin: 5em 0 -5em;
}

.dot-header-top {
  //background: rgba(0, 0, 0, .3);
  //background: rgba(91, 192, 222, .4);
  background: linear-gradient(to left, rgba(69, 127, 202, .8), rgba(81, 74, 157, .7), rgba(69, 127, 202, .8));

  padding: 1em;
  margin: -6em -2em 6em;
  border-radius: 5px 5px 0 0;
}

.panel.panel-horizontal {
  display: table;
  width: 100%;
}

.panel.panel-horizontal > .panel-heading, .panel.panel-horizontal > .panel-body {
  display: table-cell;
}

.panel.panel-horizontal > .panel-heading {
  width: 15%;
  border: 0;
  vertical-align: middle;
}

.panel.panel-horizontal > .panel-heading {
  background: #fff;
  border-top-right-radius: 0;
  border-bottom-left-radius: 4px;
}
