.middle {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 100%;
}

.aux-top {
  border: 0;
}

.aux-brand {
  background: #446caf;
  margin-left: 0;
  width: 100%;
}

.aux-brand:hover {
  color: #606CC4;
  background: #364049;
}

.sidebare-right {
  background: #fff;
  z-index: 1000;
  width: 15em;
  position: fixed;
  top: 50px;
  height: 100%;
  right: 0;
}

.navbar-side {
  //background: #222;
  //background: linear-gradient(to bottom, #215291, #2e6ab5);
  background: linear-gradient(to top, rgba(96, 108, 196, .7), rgba(34, 75, 130, .9)), url('img/background/poly/14.jpg');
  z-index: 3000;
  width: 15em;
  position: fixed;
  top: 0;
  height: 100%;
  color: #fff;
}

.navbar-side .navbar-header {
  width: 100%;
  float: none;
  margin: 0 0 1.8em 0;
}

.sidebar-collapse .nav a {
  color: #efefef;
  font-size: 1.1em;
  padding: 15px 10px;
  transition: all .3s;
}

.sidebar-collapse .nav a:hover,
.sidebar-collapse .nav a:focus {
  background: rgba(68, 108, 175, .6);
  //border-left: 2px solid #6b7fc7;
  box-shadow: 0 1px 1px #2b53af, 0 -1px 1px #2b53af;
  color: #fff;
}

.icon {
  padding: 0px 12px 0px 6px;
}
