.spinner {
  margin: 30px auto;
  width: 50px;
  height: 40px;
}

.spinner > div {
  background: #eee;
  height: 100%;
  width: 6px;
  display: inline-block;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  animation-delay: -1.1s;
}

.spinner .rect3 {
  animation-delay: -1.0s;
}

.spinner .rect4 {
  animation-delay: -.9s;
}

.spinner .rect5 {
  animation-delay: -.8s;
}