<li><a ui-sref="layout.student.dashboard"><span class="icon glyphicon glyphicon-home"></span>Dasboard</a></li>
<li><a ui-sref="layout.student.course"><span class="icon glyphicon glyphicon-blackboard"></span>Cursuri</a></li>