<div class="page-header">
    <h3>Roles</h3>
</div>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Role</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat='user in roleCtrl.users'>
        <td>{{user.name}}</td>
        <td>
            <select class="form-control" id="role_name" ng-model="user.pivot.role"
                    ng-change="roleCtrl.update(user.id,user.pivot.role)">
                <option ng-hide="user.pivot.role=='teacher'">teacher</option>
                <option ng-hide="user.pivot.role=='student'">student</option>
            </select>
        </td>
        <td class="text-right">
            <button type="submit" title="delete" class="btn btn-link" ng-click="roleCtrl.deleteUser(user.id)"><span
                    class="text-danger glyphicon glyphicon-remove-circle"></span></button>
        </td>
    </tr>
    </tbody>
</table>
<hr>
<form class="form-horizontal" ng-submit="roleCtrl.addUser()">
    <div class="form-group">
        <label for="role" class="col-sm-2 control-label">User</label>
        <div class="col-sm-8" id="role" ui-view="auto"></div>
        <div class="col-sm-2">
            <button type="submit" class="btn btn-primary">Add User</button>
        </div>
    </div>
</form>