<div class="page-wrapper container">
  <h2 class="dot-header-bg text-center">Welcome</h2>

    <div class="col-sm-4" ng-repeat="item in dashCtrl.modules">
      <div class="tile blue">
        <a ng-href="{{item.route}}" class="title text-centre ng-binding tile-link">{{item.title}}</a>
      </div>
