<div ui-view>
    <div class="page-header">
        <h3>Test</h3>
    </div>

    <div class="panel panel-default" ng-repeat='test in testCtrl.tests'>
        <div class="panel-heading">
            <h5><img class="img-circle"
                     ng-src="{{testCtrl.img_url}}/user/profile-img/{{test.user.id}}?token={{testCtrl.token}}"
                     width="30"> <a
                    ui-sref="layout.student.home.question({test_id:{{test.id}}})">{{test.name}}</a>
            </h5>
        </div>
        <div class="panel-body">
            <p>{{test.description}}</p>
            <br>
            <div class="row text-center">
                <div class="col-md-3">
                    <div class="panel panel-info">
                        <div class="panel-heading"><span
                                class="glyphicon glyphicon-alert"></span><br>Required: {{test.required}}
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-info">
                        <div class="panel-heading"><span class="glyphicon glyphicon-time"></span><br>Duration:
                            {{test.duration | secondsToDateTime | date:'HH:mm:ss'}}
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-info">
                        <div class="panel-heading"><span
                                class="glyphicon glyphicon-pencil"></span><br>Start: {{test.start_date}}
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-danger">
                        <div class="panel-heading"><span
                                class="glyphicon glyphicon-calendar"></span><br>Deadline: {{test.deadline}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>