<span>/</span>
<a ui-sref="layout.student.home.test">Tests</a>
<div class="page-header">
    <h3>Numele testului</h3>
</div>
<div class="row">
    <form class="col-md-10" ng-submit="questionCtrl.submit_test()" id="myForm">
        <ol class="list-group dot-list">
            <li ng-repeat='question in questionCtrl.questions'>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>{{question.question}}</h4>
                        <p>{{question.description}}</p>
                        <hr>
                        <div class="radio" ng-if="question.answer.type == 'radio'"
                             ng-repeat="answer in question.answer.data">
                            <label>
                                <input id="{{answer.id}}" type="{{answer.type}}"
                                       name="radio_{{question.answer.question_id}}"
                                       value="{{answer.id}}"/>{{answer.data}}
                            </label>
                        </div>
                        <div class="checkbox" ng-if="question.answer.type == 'checkbox'"
                             ng-repeat="answer in question.answer.data">
                            <label>
                                <input id="{{answer.id}}" type="{{answer.type}}"
                                       name="check_{{question.answer.question_id}}"
                                       value="{{answer.id}}"/>{{answer.data}}
                            </label>
                        </div>
                        <span class="form-inline" ng-if="question.answer.type == 'text'" ng-repeat="answer in question.answer.data">
                            <input ng-if="answer.type == 'input-text'" class="form-control" id="{{answer.id}}"
                                   type="{{question.answer.type}}"
                                   name="text_{{question.answer.question_id}}"/>{{answer.data}}
                        </span>
                    </div>
                </div>
            </li>
        </ol>
        <button class="btn btn-primary" type="submit">Finish the test</button>
        {{questionCtrl.rez}}
    </form>
    <div class="col-md-2" ng-if="questionCtrl.test_duration>0">
        Remaing time {{questionCtrl.test_duration | secondsToDateTime | date:'HH:mm:ss'}}
    </div>
</div>