<br>
<form class="form-horizontal">
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Page name</label>
        <div class="col-sm-10">
            <input id="name" class="form-control" type="text" ng-model="pageCtrl.page.name">
        </div>
    </div>
</form>

<div id="editor"></div>

<div class="row">
    <div class="col-md-6">
        <button type="submit" class="btn btn-danger" ng-click="pageCtrl.back()">Back</button>
    </div>
    <div class="col-md-6 text-right">
        <button type="submit" class="btn btn-primary" ng-click="pageCtrl.save()">Save page</button>
    </div>
</div>

