<div ui-view>
    <div class="page-header">
        <h3>Homework</h3>
    </div>
    <div class="panel panel-default" ng-repeat='homework in homeworkCtrl.homeworks'>
        <div class="panel-heading">
            <h5><img class="img-circle"
                     ng-src="{{homeworkCtrl.img_url}}/user/profile-img/{{homework.user_id}}?token={{homeworkCtrl.token}}"
                     width="30"> {{homework.name}}
            </h5>
        </div>
        <div class="panel-body">
            <p>{{homework.description}}</p>
            <br>
            <div class="row text-center">
                <div class="col-md-3">
                    <div class="panel panel-info">
                        <div class="panel-heading"><span class="glyphicon glyphicon-gift"></span><br>Points:
                            {{homework.points}}
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-info">
                        <div class="panel-heading"><span
                                class="glyphicon glyphicon-alert"></span><br>Required: {{homework.required}}
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-info">
                        <div class="panel-heading"><span
                                class="glyphicon glyphicon-pencil"></span><br>Answer: {{homework.answer_type}}
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-danger">
                        <div class="panel-heading"><span
                                class="glyphicon glyphicon-calendar"></span><br>Deadline: {{homework.deadline}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <ul class="list-group">
            <li class="list-group-item" ng-repeat="answers in homework.homework_answer">
                <div ng-if="homework.answer_type=='text' || homework.answer_type=='link'">
                    <p ng-bind-html="answers.answer"></p>
                </div>
                <div ng-if="homework.answer_type=='upload'">
                    <a ng-href="{{homeworkCtrl.img_url}}/homework-answer/{{answers.id}}?token={{homeworkCtrl.token}}">
                        <strong>{{answers.file_name}}.{{answers.file_extension}}</strong>
                    </a>
                </div>
                <br>
                <span class="text-muted">
                <img class="img-circle"
                     ng-src="{{homeworkCtrl.img_url}}/user/profile-img/{{answers.user_id}}?token={{homeworkCtrl.token}}"
                     width="30"> <small>{{answers.user.name}}</small></span>
                <div class="pull-right">
                    <small class="text-muted">{{answers.created_at}}</small>
                    <button type="submit" class="btn btn-link"
                            ng-click="homeworkCtrl.remove_answer(answers.id)"><span
                            class="text-danger glyphicon glyphicon-remove-circle"></span>
                    </button>
                </div>
            </li>
        </ul>
        <div class="panel-footer">
            <form ng-if="homework.answer_type=='text' || homework.answer_type=='link'">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Add answer" ng-model="text">
            <span class="input-group-btn"><button class="btn btn-primary" type="submit"
                                                  ng-click="homeworkCtrl.add_text(text,homework.id)">Add
            </button></span>
                </div>
            </form>

            <form ng-if="homework.answer_type =='upload' || homework.file_name != null"
                  ng-submit="homeworkCtrl.add_file(homework.id)" mimeType="multipart/form-data">
                <div class="input-group">
                    <input type="file" class="form-control" name="upload"
                           file-model="homeworkCtrl.upload">
                        <span class="input-group-btn"><button class="btn btn-primary" type="submit">Upload
                        </button></span>
                </div>
            </form>
        </div>
    </div>
</div>