<div class="page-wrapper container">
    <div id="calendar"></div>

    <div id="addEventModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span
                            class="sr-only">close</span></button>
                    <h4 id="modalTitle" class="text-center modal-title">Add Event</h4>
                </div>
                <form class="form-horizontal">
                    <div id="modalBody" class="modal-body">
                        <div class="form-group">
                            <label for="name" class="col-sm-3 control-label">Event Name</label>
                            <div class="col-sm-9">
                                <input id="name" class="form-control" type="text" name="eventName" value=""></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description" class="col-sm-3 control-label">Decsription </label>
                            <div class="col-sm-9">
                                <input id="description" class="form-control" type="text" name="eventDescription"
                                       value=""></label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="editEventModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span
                            class="sr-only">close</span></button>
                    <h4 id="editEvmodalTitle" class="modal-title dot-header-bg text-center">Edit Event</h4>
                </div>
                <form>
                    <div id="editEvmodalBody" class="modal-body">
                        <div class="form-group">
                            <label>Event Name: <br><input id="evname"
                                                          class="form-control ng-pristine ng-valid ng-touched"
                                                          type="text" value="" ng-model="calendarCtrl.name"
                                                          name="eventName"></label><br>
                        </div>
                        <div class="form-group">
                            <label>Start Date: <br><input id='evstart'
                                                          class="form-control ng-pristine ng-valid ng-touched"
                                                          type="text" value="" ng-model="calendarCtrl.sdate"
                                                          name="eventDescription"></label><br>
                        </div>
                        <div class="form-group">
                            <label>End Date: <br><input id='evend' class="form-control ng-pristine ng-valid ng-touched"
                                                        type="text" value="" ng-model="calendarCtrl.edate" name="even"></label>
                        </div>
                    </div>
                    <div class="modal-footer form-group">
                        <button type="submit" class="btn btn-dot submit" data-dismiss="modal"
                                ng-click="calendarCtrl.update_ev()">Save Changes
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>