<div class="page-wrapper container">
    <div ui-view>
        <div class="text-center">
            <h2 class="dot-header-bg">Courses</h2>
        </div>
        <div ng-show="courseCtrl.user_role == 'teacher'" class="pull-right">
            <a class="btn btn-info btn-sm" data-toggle="modal" data-target="#addCourseModal">Add course</a>
        </div>
        <ul class="nav nav-tabs">
            <li><a ng-click="courseCtrl.get_courses(3)">My courses</a></li>
            <li><a ng-click="courseCtrl.get_courses(1)">All courses</a></li>
            <li><a ng-click="courseCtrl.get_courses(2)">Course subscription</a></li>
        </ul>
        <div class="spinner" ng-show="!(courseCtrl.courses).length">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
        <ul class="list-group">
            <li ng-repeat="course in courseCtrl.courses" class="list-group-item dot-list-group-item">
                <div ng-show="course.pivot.role == 'teacher'" class="row">
                    <div class="col-md-3">
                        <a ui-sref="layout.teacher.course.edit({course_id:{{course.id}}})">
                            <strong>{{course.name}}</strong>
                        </a>
                    </div>
                    <div class="col-md-8">
                        <span ng-if="course.description">{{course.description.substr(0, 35)}}...</span>
                    </div>
                    <div class="col-md-1 text-right">
                        <a ng-click="courseCtrl.remove(course.id)"><span
                                class="text-danger glyphicon glyphicon-remove-circle"></span></a>
                    </div>
                </div>
                <div class="row" ng-show="course.pivot.role == 'student'">
                    <div class="col-md-3">
                        <a ui-sref="layout.student.course({course_id:{{course.id}}})">
                            <strong>{{course.name}}</strong>
                        </a>
                    </div>
                    <div class="col-md-8">
                        <span ng-if="course.description">{{course.description.substr(0, 35)}}...</span>
                    </div>
                </div>
                <div class="row" ng-show="course.pivot.role == null">
                    <div class="col-md-3">
                        <a ui-sref="layout.shared.course({course_id:{{course.id}}})">
                            <strong>{{course.name}}</strong>
                        </a>
                    </div>
                    <div class="col-md-8">
                        <span ng-if="course.description">{{course.description.substr(0, 35)}}...</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div ng-show="courseCtrl.user_role == 'teacher'" id="addCourseModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="text-center">Add new course</h2>
                </div>
                <form role="form" class="form-horizontal">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-10">
                                <input id="name" type="text" class="form-control" ng-model="courseCtrl.courseName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description" class="col-sm-2 control-label">Description</label>
                            <div class="col-sm-10">
                                <input id="description" type="text" class="form-control"
                                       ng-model="courseCtrl.courseDescription">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary btn-dot" type="submit" ng-click="courseCtrl.save()"
                                data-dismiss="modal">Save Course
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>