<div ui-view>
    <div class="dot-header text-center">
        <h2 class="dot-header-bg">{{editCtrl.name}}</h2>
        <div class="text-right dot-header-bottom">
            <a class="btn btn-info btn-sm" data-toggle="modal" data-target="#updateCourseModal">Update course</a>
        </div>
    </div>
    <ul class="nav nav-tabs">
        <li><a ui-sref="layout.teacher.course.edit.module">Modules</a></li>
        <li><a ui-sref="layout.teacher.course.edit.roles">Roles</a></li>
        <li><a ui-sref="layout.teacher.course.edit.announcement">Announcements</a></li>
    </ul>
    <div ui-view="course_role_module">replace</div>
</div>
<div id="updateCourseModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="text-center">Update course</h2>
            </div>
            <form class="form-horizontal" ng-submit="editCtrl.update_course()">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10">
                            <input id="name" class="form-control" type="text" ng-model="editCtrl.name_local">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div id="editor"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" ng-click="editCtrl.update_course()" type="submit"
                            data-dismiss="modal">Update
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>