<div ui-view>
    <div class="page-header">
        <h3>Announcements</h3>
    </div>
    <form class="form-horizontal" ng-submit="announcementCtrl.add()">
        <div class="form-group">
            <label for="title" class="col-sm-2 control-label">Title </label>
            <div class="col-sm-10">
                <input id="title" class="form-control" type="text" ng-model="announcementCtrl.title"/>
            </div>
        </div>
        <div class="form-group">
            <label for="description" class="col-sm-2 control-label">Description </label>
            <div class="col-sm-10">
                <input id="description" class="form-control" type="text" ng-model="announcementCtrl.description"/>
            </div>
        </div>
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-primary" type="submit">Add announcement</button>
        </div>
        <!--daca stergi br atunci iti pune lista de anunturi peste-->
        <br><br>
    </form>

    <ul class="list-group dot-list">
        <li ng-repeat='announcement in announcementCtrl.announcements'>
            <div class="panel panel-default panel-horizontal">
                <div class="panel-heading">
                    <img class="img-circle"
                         ng-src="{{announcementCtrl.img_url}}/user/profile-img/{{announcement.user_id}}?token={{announcementCtrl.token}}"
                         width="50">
                </div>
                <div class="panel-body">
                    <a ui-sref="layout.teacher.course.edit.announcement.comment({announcement_id:announcement.id})">
                        <h4> {{announcement.title}}</h4>
                    </a>
                    <p> {{announcement.description}}</p>
                    <div class="pull-right">
                        <button class="btn btn-xs btn-danger" type="submit"
                                ng-click="announcementCtrl.remove(announcement.id)">Delete
                        </button>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
