<div class="page-wrapper container">
    <div class="dot-header">
        <div class="dot-header-top">
            <a ui-sref="layout.student.course({course_id:{{homeStudentCtrl.course_id}}})">{{homeStudentCtrl.course_name}}</a> / <a ui-sref="layout.student.home({module_id:{{homeStudentCtrl.module_id}},course_id:{{homeStudentCtrl.course_id}}})">{{homeStudentCtrl.module.name}}</a>
        </div>
        <h2 class="dot-header-bg text-center">{{homeStudentCtrl.module.name}}
            <!--<small>{{homeStudentCtrl.started_at}}</small>-->
        </h2>
    </div>
    <ul class="nav nav-tabs nav-tabs-dot">
        <li>
            <a ui-sref="layout.student.home({module_id:{{homeStudentCtrl.module_id}},course_id:{{homeStudentCtrl.course_id}}})">Home</a>
        </li>
        <li><a ui-sref="layout.student.home.material">Material</a></li>
        <li><a ui-sref="layout.student.home.discussion">Disscussion</a></li>
        <li><a ui-sref="layout.student.home.homework">Homework</a></li>
        <li><a ui-sref="layout.student.home.test">Test</a></li>
    </ul>
    <div ui-view="">
        <div class="page-header">
            <h3>{{homeStudentCtrl.page.name}}</h3>
        </div>
        <div ng-bind-html="homeStudentCtrl.page.content"></div>
    </div>
</div>