<div ui-view>
    <div class="page-wrapper container">
        <h2 class="dot-header-bg text-center">Message list</h2>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title text-center">Create conversation</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div ui-view="auto">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="btn-group" role="group">
                            <button type="submit" class="btn btn-primary" ng-click="conversationCtrl.add_user()">Add
                                user
                            </button>
                            <button type="submit" class="btn btn-danger" ng-click="conversationCtrl.clear_user()">Clear
                                user
                            </button>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <button type="submit" class="btn btn-primary" ng-click="conversationCtrl.add()">Create
                            conversation
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6 col-md-2" ng-repeat="user in conversationCtrl.users">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <img class="img-circle center-block"
                             ng-src="http://colectiv-back.dev/api/v1/user/profile-img/{{user.display.id}}?token={{conversationCtrl.token}}"
                             width="50" height="50">
                        <h4 class="text-center">{{user.value}}</h4>
                    </div>
                </div>
            </div>
        </div>
        <hr>

        <div class="spinner" ng-show="conversationCtrl.conversations.length==0">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>

        <ul class="list-group">
            <li class="list-group-item dot-list-group-item" ng-repeat="conversation in conversationCtrl.conversations">
                <a ui-sref="layout.shared.conversation.message({conversation_id: conversation.id})">{{conversation.name}}</a>
                <div class="pull-right">
                    <span class="badge" ng-hide="conversation.seen">New</span>
                    <button title="leave conversation" type="submit" class="btn btn-link"
                            ng-click="conversationCtrl.remove(conversation.id)"><span
                            class="text-danger glyphicon glyphicon-remove-circle"></span>
                    </button>
                </div>
            </li>
        </ul>
        <br>
    </div>
</div>
