<div class="login-card">
    <h1>Log-in</h1>
    <form id="myLogin" ng-submit="loginCtrl.submit()">
        <div class="text-center">
            <img width="50" src="build/img/logo.svg">
        </div>
        <br>
        <label class="login-label">Username:
            <input class="login-input" type="text" id="username" ng-model="loginCtrl.username">
        </label>
        <label class="login-label">Password:
            <input class="login-input" type="password" id="password" ng-model="loginCtrl.password">
        </label>
        <button class="login-input login-submit btn-block" type="submit">Log in</button>
    </form>
    <div class="login-help">
        <a ui-sref="forgot">Forgot your password?</a>
    </div>
</div>
