<div class="page-wrapper container">
    <h2 class="dot-header-bg text-center">User data</h2>

    <form id="userData" class="form-horizontal" ng-submit="settingsCtrl.submit()">

        <div class="form-group">
            <label for="userName" class="col-sm-2 control-label">Username</label>
            <div class="col-sm-4">
                <input id="name" type="text" class="form-control" ng-model="settingsCtrl.user.name">
            </div>
            <label for="password" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-4">
                <input id="Password" type="text" class="form-control" placeholder="Password"
                ng-model="settingsCtrl.user.password">
            </div>
        </div>

        <div class="form-group">
            <label for="email" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-4">
                <input id="email" type="email" class="form-control" ng-model="settingsCtrl.user.email">
            </div>
            <label for="currentGroup" class="col-sm-2 control-label">Current group</label>
            <div class="col-sm-4">
                <input id="currentGroup" type="text" class="form-control" ng-model="settingsCtrl.user.group.name"
                readonly>
            </div>
        </div>

        <div class="form-group">
            <label for="firstName" class="col-sm-2 control-label">First name</label>
            <div class="col-sm-4">
                <input id="firstName" type="text" class="form-control" ng-model="settingsCtrl.user.first_name">
            </div>
            <label for="lastName" class="col-sm-2 control-label">Last name</label>
            <div class="col-sm-4">
                <input id="lastName" type="text" class="form-control" ng-model="settingsCtrl.user.last_name">
            </div>
        </div>
        <hr>

        <div class="form-group">
            <label for="registration" class="col-sm-2 control-label">CNP</label>
            <div class="col-sm-10">
                <input id="registration" type="text" class="form-control"
                ng-model="settingsCtrl.user.registration_number">
            </div>
        </div>

        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">Img</label>
            <div class="col-sm-10">
                <div class="input-group">
                    <div class="input-group-addon">Use gravatar?</div>
                    <span class="input-group-addon">
                        <label>Yes
                            <input type="radio" ng-model="settingsCtrl.user.use_gravatar" value="1" name="gravatar">
                        </label>
                        <label>No
                            <input type="radio" ng-model="settingsCtrl.user.use_gravatar" value="0" name="gravatar">
                        </label>
                    </span>
                    <input id="Image" type="file" name="upload" class="form-control" placeholder="Choose your Image"
                    file-model="settingsCtrl.user.upload">
                </div>
            </div>
        </div>

        <input type="submit" class="btn btn-primary pull-right" value="Update">
    </form>
</div>
