<div class="page-wrapper container">
    <h2 class="dot-header-bg text-center">Update this group</h2>

    <form class="form-horizontal" ng-submit="groupEditCtrl.edit()">
        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
                <input id="name" type="text" class="form-control" ng-model="groupEditCtrl.group.name">
            </div>
        </div>
        <div class="form-group">
            <label for="description" class="col-sm-2 control-label">Description</label>
            <div class="col-sm-10">
                <textarea id="description" type="text" class="form-control"
                          ng-model="groupEditCtrl.group.description"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-primary" type="submit">Update</button>
            </div>
        </div>
    </form>
    <hr>

    <h3 class="text-center">Current users</h3>
    <div class="row">
        <div class="col-xs-6 col-md-2" ng-repeat='user in groupEditCtrl.users'>
            <div class="panel panel-default">
                <div class="panel-body">
                    <img class="img-circle center-block"
                         ng-src="{{groupEditCtrl.img_url}}/user/profile-img/{{user.id}}?token={{groupEditCtrl.token}}"
                         width="50" height="50">
                    <h4 class="text-center">{{user.name}}</h4>
                    <button type="submit" class="btn btn-xs btn-danger center-block"
                            ng-click="groupEditCtrl.deleteUser(user.id)">Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <form class="form-horizontal" ng-submit="groupEditCtrl.addUser()">
            <label class="col-sm-2 control-label">Add user</label>
            <div class="col-sm-8">
                <div ui-view="auto">
                </div>
            </div>
            <div class="col-sm-2">
                <button class="btn btn-primary" type="submit">Add User</button>
            </div>
    </form>
</div>
