<div ui-view>
    <div class="page-wrapper container">
        <h2 class="dot-header-bg text-center">Manage groups</h2>

        <form role="form" class="form-horizontal" ng-submit="groupCtrl.add()">
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                    <input id="name" type="text" class="form-control" ng-model="groupCtrl.group.name">
                </div>
            </div>
            <div class="form-group">
                <label for="description" class="col-sm-2 control-label">Description</label>
                <div class="col-sm-10">
                    <textarea id="description" type="text" class="form-control" ng-model="groupCtrl.group.description"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button class="btn btn-primary" type="submit">Add</button>
                </div>
            </div>
        </form>
        <hr>

        <ul class="list-group">
            <li class="list-group-item" ng-repeat='group in groupCtrl.groups'>
                <a ui-sref-active='active' ui-sref="layout.admin.group.edit({group_crt: group.cont})">
                    <strong>{{group.data.name}}</strong>
                </a>
                <div class="pull-right">
                    <button type="submit" class="btn btn-xs btn-danger" ng-click="groupCtrl.remove(group.data.id)">Delete</button>
                </div>
            </li>
        </ul>
    </div>
</div>
