<form id="resetUser" ng-submit="resetCtrl.submit()">
    <div class="login-card">
        <span class="login-label">Username: </span>
        <input class="login-input" type="text" id="username" ng-model="resetCtrl.email"><br>
        <span class="login-label">Password: </span>
        <input class="login-input" type="password" id="password" ng-model="resetCtrl.password"><br>
        <span class="login-label">Password Confirmation: </span>
        <input class="login-input" type="password" id="passwordConfirm" ng-model="resetCtrl.passwordConfirm"><br>
        <button class="login-input login-submit" type="submit">Reset</button>
    </div>
</form>
