<div ui-view>
    <div class="page-header">
        <div class="row">
            <div class="col-md-8">
                <h3>Test</h3>
            </div>
            <div class="col-md-4 text-right">
                <button type="button" class="btn btn-info btn-dot" data-toggle="modal" data-target="#addTestModal">Add
                    test
                </button>
            </div>
        </div>
    </div>

    <div class="panel panel-default" ng-repeat='test in testCtrl.tests'>
        <div class="panel-heading">
            <h5><img class="img-circle"
                     ng-src="{{testCtrl.img_url}}/user/profile-img/{{test.user.id}}?token={{testCtrl.token}}"
                     width="30"> <a
                    ui-sref="layout.teacher.course.home.question({test_id:{{test.id}}})">{{test.name}}</a>
                <button type="button" class="btn btn-link pull-right"
                        ng-click="testCtrl.remove(test.id)"><span
                        class="text-danger glyphicon glyphicon-remove-circle"></span></button>
            </h5>
        </div>
        <div class="panel-body">
            <p>{{test.description}}</p>
            <br>
            <div class="row text-center">
                <div class="col-md-3">
                    <div class="panel panel-info">
                        <div class="panel-heading"><span
                                class="glyphicon glyphicon-alert"></span><br>Required: {{test.required}}
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-info">
                        <div class="panel-heading"><span class="glyphicon glyphicon-time"></span><br>Duration:
                            {{test.duration | secondsToDateTime | date:'HH:mm:ss'}}
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-info">
                        <div class="panel-heading"><span
                                class="glyphicon glyphicon-pencil"></span><br>Start: {{test.start_date}}
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-danger">
                        <div class="panel-heading"><span
                                class="glyphicon glyphicon-calendar"></span><br>Deadline: {{test.deadline}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="addTestModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="text-center">Add test</h2>
                </div>
                <form class="form-horizontal" ng-submit="testCtrl.addtest()">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <div class="input-group-addon">Required</div>
                                        <span class="input-group-addon">
                                            <label>Yes
                                                <input type="radio" ng-model="testCtrl.test.required" value="1"
                                                       name="required">
                                            </label>
                                            <label>No
                                                <input type="radio" ng-model="testCtrl.test.required" value="0"
                                                       name="required">
                                            </label>
                                        </span>
                                    <input id="name" class="form-control" type="text" ng-model="testCtrl.test.name">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="description" class="col-sm-2 control-label">Description</label>
                            <div class="col-sm-10">
                                <input id="description" placeholder="test description" class="form-control"
                                       type="text"
                                       ng-model="testCtrl.test.description">
                            </div>
                        </div>
                        <hr>

                        <div class="form-group">
                            <label for="start" class="col-sm-3 control-label">Start date</label>
                            <div class="col-sm-9">
                                <input id="start" class="form-control" type="date"
                                       ng-model="testCtrl.test.start_date">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="end" class="col-sm-3 control-label">End date</label>
                            <div class="col-sm-9">
                                <input id="end" class="form-control" type="date" ng-model="testCtrl.test.end_date">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="deadline" class="col-sm-3 control-label">Deadline</label>
                            <div class="col-sm-9">
                                <input id="deadline" class="form-control" type="date"
                                       ng-model="testCtrl.test.deadline">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="deadline" class="col-sm-3 control-label">Duration</label>
                            <div class="col-sm-9">{{testCtrl.test.duration | secondsToDateTime | date:'HH:mm:ss'}} time
                                <input id="hours" class="form-control" type="range"
                                       ng-model="testCtrl.test.duration" min="0" max="14400" step="1">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
