<form class="form-horizontal" ng-submit="commentCtrl.add()">

<ul class="list-group dot-list">
    <li ng-repeat='comment in commentCtrl.comments'>
        <div class="panel panel-default panel-horizontal">
            <div class="panel-heading">
                <h4 class="text-center">{{comment.user_id}}</h4>
                <img class="img-circle center-block" ng-src="{{commentCtrl.img_url}}/user/profile-img/{{comment.user_id}}?token={{commentCtrl.token}}" width="50" height="50">
            </div>
            <div class="panel-body">
                <p>{{comment.text}}</p>
                <div class="pull-right">
                    <button class="btn btn-xs btn-danger" type="submit" ng-click="commentCtrl.remove(comment.id)">Delete</button>
                </div>
            </div>
        </div>
    </li>
</ul>

<div class="form-group">
    <label for="text" class="col-sm-1 control-label">Text </label>
    <div class="col-sm-10">
        <input id="text" class="form-control" type="text" ng-model="commentCtrl.text"/>
    </div>
    <div class="col-sm-1">
        <button class="btn btn-primary" type="submit">Add</button>
    </div>
</div>
</form>
