<div class="page-wrapper container">
    <h2 class="dot-header-bg text-center">Add user data</h2>

    <form id="userData" class="form-horizontal" ng-submit="add_userCtrl.add()" mimeType="multipart/form-data">
        <div class="form-group">
            <label for="userName" class="col-sm-2 control-label">Username</label>
            <div class="col-sm-4">
                <input id="userName" type="text" class="form-control" placeholder="Name" ng-model="add_userCtrl.user.name">
            </div>
            <label for="password" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-4">
                <input id="Password" type="text" class="form-control" placeholder="Password" ng-model="add_userCtrl.user.password">
            </div>
        </div>

        <div class="form-group">
            <label for="email" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-4">
                <input id="email" type="text" class="form-control" placeholder="Email" ng-model="add_userCtrl.user.email">
            </div>
            <label for="name" class="col-sm-2 control-label">Profile img</label>
            <div class="col-sm-4">
                <input id="Image" type="file" name="upload" class="form-control" placeholder="Choose your Image"
                file-model="add_userCtrl.user.upload">
            </div>
        </div>

        <div class="form-group">
            <label for="firstName" class="col-sm-2 control-label">First name</label>
            <div class="col-sm-4">
                <input id="firstName" type="text" class="form-control" placeholder="First Name" ng-model="add_userCtrl.user.first_name">
            </div>
            <label for="lastName" class="col-sm-2 control-label">Last name</label>
            <div class="col-sm-4">
                <input id="lastName" type="text" class="form-control" placeholder="Last Name" ng-model="add_userCtrl.user.last_name">
            </div>
        </div>

        <div class="form-group">
            <label for="select" class="col-sm-2 control-label">Group</label>
            <div class="col-sm-4">
                <select id="select" class="form-control" ng-model="add_userCtrl.user.group_id">
                    <option ng-repeat="group in add_userCtrl.groups" value="{{group.id}}">
                        {{group.name}}
                    </option>
                </select>
            </div>
            <label for="role" class="col-sm-2 control-label">Role</label>
            <div class="col-sm-4">
                <select id="role" class="form-control" ng-model="add_userCtrl.user.role_id">
                    <option ng-hide="add_userCtrl.user.role_id==1" value="1">admin</option>
                    <option ng-hide="add_userCtrl.user.role_id==2" value="2">teacher</option>
                    <option ng-hide="add_userCtrl.user.role_id==3" value="3">student</option>
                </select>
            </div>
        </div>
<hr>
        <div class="form-group">
            <label for="registration" class="col-sm-2 control-label">CNP</label>
            <div class="col-sm-10">
                <input id="registration" type="text" class="form-control" placeholder="Registration number" ng-model="add_userCtrl.user.registration_number">
            </div>
        </div>
        <input type="submit" class="btn btn-primary pull-right" value="Add">
    </form>
</div>
