<div class="page-wrapper container">
    <h2 class="dot-header-bg text-center">User data</h2>

    <form id="userData" class="form-horizontal" ng-submit="user_editCtrl.submit()">

        <div class="form-group">
            <label for="userName" class="col-sm-2 control-label">Username</label>
            <div class="col-sm-4">
                <input id="name" type="text" class="form-control" ng-model="user_editCtrl.user.name">
            </div>
            <label for="password" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-4">
                <input id="Password" type="text" class="form-control" placeholder="Password"
                ng-model="user_editCtrl.user.password">
            </div>
        </div>

        <div class="form-group">
            <label for="email" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-4">
                <input id="email" type="email" class="form-control" ng-model="user_editCtrl.user.email">
            </div>
            <label for="role" class="col-sm-2 control-label">Role</label>
            <div class="col-sm-4">
                <select id="role" class="form-control" ng-model="user_editCtrl.user.role.role">
                    <option ng-hide="user_editCtrl.user.role.role=='admin'">admin</option>
                    <option ng-hide="user_editCtrl.user.role.role=='teacher'">teacher</option>
                    <option ng-hide="user_editCtrl.user.role.role=='student'">student</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="firstName" class="col-sm-2 control-label">First name</label>
            <div class="col-sm-4">
                <input id="firstName" type="text" class="form-control" ng-model="user_editCtrl.user.first_name">
            </div>
            <label for="lastName" class="col-sm-2 control-label">Last name</label>
            <div class="col-sm-4">
                <input id="lastName" type="text" class="form-control" ng-model="user_editCtrl.user.last_name">
            </div>
        </div>

        <div class="form-group">
            <label for="currentGroup" class="col-sm-2 control-label">Current group</label>
            <div class="col-sm-4">
                <input id="currentGroup" type="text" class="form-control" ng-model="user_editCtrl.user.group.name" readonly>
            </div>
            <label for="select" class="col-sm-2 control-label">Select another group</label>
            <div class="col-sm-4">
                <select id="select" class="form-control" ng-model="user_editCtrl.user.group_id">
                    <option ng-repeat="group in user_editCtrl.groups"
                    value="{{group.id}}"
                    ng-selected="{{group.id == user_editCtrl.user.group_id}}">
                    {{group.name}}
                </option>
            </select>
        </div>
    </div>
    <hr>

    <div class="form-group">
        <label for="registration" class="col-sm-2 control-label">CNP</label>
        <div class="col-sm-10">
            <input id="registration" type="text" class="form-control" ng-model="user_editCtrl.user.registration_number">
        </div>
    </div>

    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Img</label>
        <div class="col-sm-10">
            <div class="input-group">
                <div class="input-group-addon">Use gravatar?</div>
                <span class="input-group-addon">
                    <label>Yes
                        <input type="radio" ng-model="user_editCtrl.user.use_gravatar" value="1" name="gravatar">
                    </label>
                    <label>No
                        <input type="radio" ng-model="user_editCtrl.user.use_gravatar" value="0" name="gravatar">
                    </label>
                </span>
                <input id="Image" type="file" name="upload" class="form-control" placeholder="Choose your Image"
                file-model="user_editCtrl.user.upload">
            </div>
        </div>
    </div>

    <input type="submit" class="btn btn-primary pull-right" value="Update">
</form>
</div>
