<div class="page-wrapper container">
    <div ui-view>
        <div class="dot-header text-center">
            <h2 class="dot-header-bg">{{coursePulicCtrl.course.name}}</h2>
            <div ng-bind-html="coursePulicCtrl.course.description"></div>
            <div class="text-right dot-header-bottom">
                <button class="btn btn-danger btn-sm" ng-click="coursePulicCtrl.subscribe()">Subscribe</button>
            </div>
        </div>
    </div>
</div>