<div ui-view>
    <div class="page-header">
        <h3>Announcements</h3>
    </div>
    <ul class="list-group dot-list">
        <li ng-repeat='announcement in announcementCtrl.announcements'>
            <div class="panel panel-default panel-horizontal">
                <div class="panel-heading text-center">
                    <img class="img-circle"
                         ng-src="{{announcementCtrl.img_url}}/user/profile-img/{{announcement.user_id}}?token={{announcementCtrl.token}}"
                         width="50">
                </div>
                <div class="panel-body">
                    <a ui-sref="layout.student.course.announcement.comment({announcement_id:announcement.id})">
                        <h4> {{announcement.title}}</h4>
                    </a>
                    <p> {{announcement.description}}</p>
                </div>
            </div>
        </li>
    </ul>
</div>
