<div class="page-wrapper container">
    <button class="btn btn-danger pull-right" type="button" ng-click="logsCtrl.remove()">Delete Logs</button>
    <div class="clearfix"></div>
    <h2 class="dot-header-bg text-center">Logs</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Endpoint</th>
            <th>Method</th>
            <th>Client_ip</th>
            <th>Environment</th>
            <th>Token</th>
        </tr>
        </thead>
        <tbody ng-repeat='log in logsCtrl.logs'>
        <tr>
            <td><img class="img-circle"
                     ng-src="{{logsCtrl.img_url}}/user/profile-img/{{log.user_id}}?token={{logsCtrl.token}})"
                     width="30"></td>
            <td>{{log.endpoint}}</td>
            <td>{{log.method}}</td>
            <td>{{log.client_ip}}</td>
            <td>{{log.env}}</td>
            <td>{{log.request.token}}</td>
        </tr>
        </tbody>
    </table>
</div>