<div class="page-wrapper container">
    <h2 class="dot-header-bg text-center">Notification</h2>
    <ol class="list-group">
        <li class="panel panel-default panel-horizontal" ng-repeat='notification in notificationsCtrl.notifications'>
            <div class="panel-heading text-center">
                <img class="img-circle"
                     ng-src="{{notificationsCtrl.img_url}}/user/profile-img/{{notification.from_id}}?token={{notificationsCtrl.token}}"
                     width="50" height="50">
            </div>
            <div class="panel-body">
                <h4>{{notification.from.name}}</h4>
                <p>{{notification.text}}</p>
            </div>
        </li>
    </ol>
</div>