<div>
    <section class="top">
        <div ui-view="top"></div>
    </section>

    <section class="middle">
        <section>
            <div ui-view="sidebar"></div>
        </section>
        <main class="main">
            <div ui-view="main"></div>
        </main>
        <!--<aside class="sidebare-right">
            <h4 class="text-center text-muted"><span class="glyphicon glyphicon-envelope"></span></h4>
            <nav>
                <ul class="list-group">
                    <li class="list-group-item"><a href="#">Conversation 1</a></li>
                    <li class="list-group-item"><a href="#">Conversation 1</a></li>
                    <li class="list-group-item"><a href="#">Conversation 1</a></li>
                    <li class="list-group-item"><a href="#">Conversation 1</a></li>
                    <li class="list-group-item"><a href="#">Conversation 1</a></li>
                    <li class="list-group-item"><a href="#">Conversation 1</a></li>
                </ul>
            </nav>
        </aside>-->
    </section>
</div>
