<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <div class="navbar-header">
            <a class="navbar-brand aux-brand" href="#"><img class="app-logo" width="40" height="40" src="build/img/logo.svg"></a>
        </div>
        <ul ng-show="'admin' == sidebarCtrl.role" class="nav">
            <li><a ui-sref="layout.admin.dashboard"><span class="icon glyphicon glyphicon-home"></span> Dasboard</a>
            </li>
            <li><a ui-sref="layout.admin.user"><span class="icon glyphicon glyphicon-user"></span> Users</a></li>
            <li><a ui-sref="layout.admin.group"><span class="icon glyphicon glyphicon-folder-open"></span> Groups</a></li>
            <li><a ui-sref="layout.admin.log"><span class="icon glyphicon glyphicon-list-alt"></span> Logs</a></li>
        </ul>

        <ul ng-show="'teacher' == sidebarCtrl.role" class="nav">
            <li><a ui-sref="layout.teacher.dashboard"><span class="icon glyphicon glyphicon-home"></span> Dasboard</a></li>
            <li><a ui-sref="layout.shared.calendar"><span class="icon glyphicon glyphicon-star"></span> Events</a></li>
        </ul>
        <ul ng-show="'student' == sidebarCtrl.role" class="nav">
            <li><a ui-sref="layout.student.dashboard"><span class="icon glyphicon glyphicon-home"></span> Dasboard</a>
            </li>
            <li><a ui-sref="layout.shared.calendar"><span class="icon glyphicon glyphicon-star"></span> Events</a>
            </li>
        </ul>
        <!--and this is the common list that is shared across all users-->
        <ul class="nav">
            <li>
                <a ui-sref="layout.teacher.course">
                    <span class="icon glyphicon glyphicon-blackboard"></span> Courses
                </a>
            <li>
                <a ui-sref="layout.shared.conversation">
                    <span class="icon glyphicon glyphicon-envelope"></span> Messages
                </a>
            </li>
            <li>
                <a ui-sref="layout.shared.forum">
                    <span class="icon glyphicon glyphicon-comment"></span> Forum
                </a>
            </li>
        </ul>
    </div>
</nav>
