<nav class="navbar navbar-default aux-navbar navbar-fixed-top navbar-top aux-top">
    <div class="container-fluid">
        <div>
            <ul class="nav navbar-nav navbar-right">
                <li uib-dropdown ng-click="topCtrl.get_notifications()">
                    <a type="button" class="dropdown-toggle" uib-dropdown-toggle>
                        <span class="glyphicon glyphicon-bell" title="notification"></span>
                        <span ng-show="topCtrl.nr_notifications>0">({{topCtrl.nr_notifications}})</span>
                    </a>
                    <ul class="dropdown-menu notification list-group" uib-dropdown-menu role="menu"
                        aria-labelledby="split-button">
                        <li class="list-group-item dot-list-group-item" role="menuitem"
                            ng-repeat="notification in topCtrl.notifications">
                            <div class="media">
                                <div class="media-left">
                                    <img class="media-object img-circle"
                                         ng-src="{{topCtrl.img_url}}/user/profile-img/{{notification.from_id}}?token={{topCtrl.token}}"
                                         width="25" height="25">
                                </div>
                                <div class="media-body">
                                    {{notification.text}}
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li class="text-center">
                            <a class="btn btn-link" ui-sref="layout.shared.notifications">Show all</a>
                        </li>
                    </ul>
                </li>
                <li uib-dropdown>
                    <a type="button" class="dropdown-toggle" uib-dropdown-toggle>
                        <div class="pull-left navbar-profile-container">
                            <img class="img-circle navbar-profile-img"
                                 ng-src="{{topCtrl.img_url}}/user/profile-img/{{topCtrl.user_id}}?token={{topCtrl.token}}"
                                 width="30">
                        </div>&nbsp;{{topCtrl.username}}
                        <span class="caret"></span>
                    </a>
                    <ul uib-dropdown-menu role="menu" aria-labelledby="split-button">
                        <li>
                            <a ui-sref="layout.shared.settings"><span class="glyphicon glyphicon-cog"></span>
                                Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li ng-click="topCtrl.logout()">
                            <a href="#" role="button"><span class="glyphicon glyphicon-log-out"></span> Log out</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
